.menu{
    padding: 1rem;
    background-color: var(--bg-color);
    width: 15em;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.category-button{
    border: none;
    background: none;
    font-size: 1rem;
    padding: 0 1rem;
    width: 8rem;
    font-weight: 300;
    cursor: pointer;
}

.category-button:hover{
    background: none;
    color: var(--bg-primary);
    text-shadow: 1.5px 1.5px 1px var(--box-shadow);
    box-shadow: none;
    transition: text-shadow 0.5s ease;
}

.menu-item:not(:last-child){
    margin-bottom: 10px;
}

:where(.category-menu) li{
    text-align: center;
}

.selected{
    color: var(--bg-primary);
    font-weight: 800;
    text-shadow: 1.5px 1.5px 1px var(--box-shadow);
}