
.navbar-links{
    width:20%;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.sign-in:hover{
    color: var(--bg-primary);
}

.menu-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    left: -5.25em;
    top: 2em;
    min-width: max-content;
    font-size: 1rem;
    background-color: var(--bg-off-white-1);
    box-shadow: 0px 8px 16px 0px var(--bg-box-shadow-1);
    z-index: 1;
}

.dropdown-content > * {
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content > *:not(:last-child){
    border-bottom: 1px solid var(--black);
}

.dropdown-content > *:hover{
    background-color: var(--black);
    color: var(--white);
}